.input {
    @include placeholder {
        color: #636363;
    }
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: calc(#{$btn-height-pc} / 2);
    border: 2px solid #636363;
    outline: none;
    display: inline-block;
    color: #636363;
    font-family: "SegoeUI", sans-serif;
    font-weight: 300;
    font-size: $input-font-size-pc;
    padding: 0 35px;
    height: $btn-height-pc;
    width: 100%;

    @include media (w1024) {
        border-radius: calc(#{$btn-height-pc} / 2);
        padding: 0 25px;
        font-size: $input-font-size-tablet;
        height: $btn-height-pc;
    }

    @include media (w768) {
        border-radius: calc(#{$btn-height-mobile} / 2);
        font-size: $input-font-size-mobile;
        padding: 0 20px;
        height: $btn-height-mobile;
    }

    &_city {
        background-image: url("../img/icon-man.png");
        background-position: 20px center;
        background-size: 36px;
        padding-left: 70px;
    }

    &_phone {
        background-image: url("../img/icon-phone.png");
        background-position: 20px center;
        background-size: 36px;
        padding-left: 70px;
    }

    &_mail {
        background-image: url("../img/icon-mail.png");
        background-position: 20px center;
        background-size: 36px;
        padding-left: 70px;
    }
}

.select {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 40px;
    border: 2px solid #d7d7d7;
    outline: none;
    display: inline-block;
    color: #6b6b6b;
    font-family: "PFHandBookPro", sans-serif;
    font-size: $input-font-size-pc;
    padding: 0 35px;
    height: 80px;

    @include media (w1024) {
        border-radius: 32px;
        font-size: 30px;
        height: 64px;
    }

    @include media (w768) {
        border-radius: 25px;
        font-size: 25px;
        padding: 0 20px;
        height: 50px;
    }
}