.thanks {
    background-image: url("../img/sec1-bg.jpg");
    padding-top: 30px;
    padding-bottom: 50px;

    @include media(w1024) {
        //padding-bottom: 200px;
    }

    &__heading {
        border-bottom: 2px solid white;
        padding-bottom: 0.4em;
    }

    &__title {
        font-family: 'eurofurence';
        font-weight: bold;
        margin-bottom: 80px;
    }

    &__border {
        border: 4px solid white;
        padding: 100px 60px 30px;
        position: relative;

        @include media(w768) {
            padding: 100px 20px 30px;
        }
    }

    &__border-img {
        transform: translate(-50%, calc(-50% - 2px));
        position: absolute;
        left: 50%;
        top: 0;
    }

    &__subtitle {
        font-size: 38px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 30px;
        }

        @include media(w768) {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto 30px;
        width: 100%;

        @include media(w768) {
            flex-direction: column;
        }
    }

    &__buttons-link {
        color: white;
        font-size: 30px;

        @include media(w768) {
            font-size: 20px;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__btn {
        justify-content: center;
    }
}