$trans: all 0.3s ease;

$main-red: #fe5827;
$main-orange: #fd9838;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;

$btn-height-pc: 94px;
$btn-height-mobile: 78px;
$input-font-size-pc: 20px;

$input-font-size-pc: 25px;
$input-font-size-tablet: 20px;
$input-font-size-mobile: 20px;