div#bottomFormContainer.bottom-form-container
    div.bottom-form__border
        p.text.text_m.medium.mb1.
            Свяжитесь с нами:
        form(data-next="#bigForm")#bottomForm.bottom-form
            label.bottom-form__label
                input(type="text" name="city" placeholder="Ваш город" required).input.input_city
            label.bottom-form__label
                input(type="text" name="phone" placeholder="Телефон" required).input.input_phone
            label.bottom-form__label
                input(type="email" name="email" placeholder="E-mail" required).input.input_mail
            button.btn-round.bottom-form__btn.
                Связаться