footer.footer
    div.container.footer__container
        div.footer__block.footer__block_copyright
            p.footer__text.footer__text_copy.
                © Котолапофф, 2017<br> комплексный зооцентр
        div.footer__block.footer__block_contacts
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика<br> конфиденциальности
        div.footer__block.footer__block_social
            div.footer__social
                p.footer__text.footer__text_social-title.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/kotolapoff" target="_blank").footer__link.footer__link_social
                            i.fa.fa-vk
        div.footer__block.footer__block_feedback
            a(href="tel:89226800250" data-phone="89226800250").footer__phone.
                +7 922 680 0250
            a().footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок