section.sec.sec1
    include header
    div.container.ta-center
        div.sec1__title-wrap.mb2
            img(src="img/sec1-decor.png", alt="").sec1__decor.sec1__decor_left
            img(src="img/sec1-decor.png", alt="").sec1__decor.sec1__decor_right
            h2.color-white.mb0.
                Бизнес для тех, кто хочет открыть ЗооЦентр с доходом от 1,2 млн рублей за 45 дней
        p.text.text_l.bold.euro.color-white.mb2.sec1__subtitle.
            Начните зарабатывать от 80 000 рублей в месяц на услугах и продаже товаров для домашних животных
        div.sec1__note
            div.sec1__note-decor
                img(src="img/sec1-icon.png", alt="").sec1__note-decor-img
                div.sec1__note-decor-wrap
                    div.sec1__note-decor-container
                        div.sec1__note-decor-circle
            div.sec1__note-bg
                p.mb1.
                    Скачайте презентацию и финансовую таблицу франшизы<br> и узнайте ответы на все вопросы:
                button.btn-round.btn-round_download.js-small-btn.
                    Скачать презентацию