section.sec.sec2
    div.sec2__top
        div.container
            div.sec2__text-container
                h3.mb1.
                    Мировой объём рынка товаров для домашних питомцев в 2015 году составил более  27 млрд долларов
                div.sec2__text
                    p.mb2.
                        Более половины жителей России содержат как минимум одного питомца. И не экономят на их содержании даже в кризис.
                    p.mb2.
                        Домашние животные обходятся хозяевам в среднем в 4,5 тысячи рублей в месяц и десятки часов личного времени. Ездить на груминг в один конец города, а за кормом в другой – не удобно.
            div.sec2__note
                p.mb2.
                    Мы открыли ЗооЦентр «Котолапофф», в котором можно получить все и сразу – купить всё необходимое, воспользоваться услугами ветеринара и грумера
                button.btn-round.js-small-btn.
                    Узнать подробнее
                img(src="img/sec2-img.png", alt="").sec2__note-img
    div.sec2__bottom
        img(src="img/sec2-decor.png", alt="").sec2__bottom-decor.sec2__bottom-decor_top
        img(src="img/sec2-decor.png", alt="").sec2__bottom-decor.sec2__bottom-decor_bottom
        img(src="img/sec2-img-left.png", alt="").sec2__bottom-img.sec2__bottom-img_left
        img(src="img/sec2-img-right.png", alt="").sec2__bottom-img.sec2__bottom-img_right
        div.container
            h3.color-white.ta-center.mb1.
                Сегодня жители города выбирают нас за то, что могут найти все для своего питомца в одном месте
            div.sec2__cards.ta-center
                div.sec2__card
                    div.sec2__card-img-wrap
                        img(src="img/sec2-img1.jpg", alt="").sec2__card-img
                    div.sec2__card-text.sec2__card-text_1
                        p.mb0.
                            С 2013 года под брендом «Котолапофф» работают три филиала. В каждом можно приобрести корм и аксессуары для питомца, проверить его здоровье и навести красоту.
                div.sec2__card
                    div.sec2__card-img-wrap
                        img(src="img/sec2-img2.jpg", alt="").sec2__card-img
                    div.sec2__card-text.sec2__card-text_2
                        p.mb0.
                            Мы работаем в среднем ценовом сегменте. Средний чек на наши товары не превышает  425 рублей, а на услуги – 200 рублей.
            div.sec2__border.ta-center.color-white
                p.text.text_m.
                    Сеть наших зооцентров обслуживает от 180 до 300 клиентов в день, благодаря чему мы зарабатываем <span>от 79 000 рублей</span> в месяц в каждом филиале
                button.btn-round.btn-round_white.js-small-btn.sec2__border-btn.
                    Узнать подробнее


