section.sec.sec3
    div.container.ta-center
        h3.
            Станьте владельцем зооцентра «Котолапофф»
        p.text.text_m.bold.mb2.
            – заработайте первые <span>80 000 рублей</span> уже через 2 месяца
        p.
            Партнёрство с нами экономит инвестиции и ваше личное время: не нужно продумывать бизнес модель, заказывать рекламу, торговаться с поставщиками
    img(src="img/sec1-icon.png", alt="").sec3__icon