section.sec.sec4
    div.sec4__top
        div.container
            h3.color-white.ta-center.mb1.
                Мы предоставим всё необходимое для запуска бизнеса за 45 дней:
            div.sec4__list.color-white
                div.sec4__list-item
                    img(src="img/sec4-icon1.png", alt="").sec4__list-img.mb1
                    p.mb0.
                        Права на использование бренда «Котолапофф»
                div.sec4__list-item
                    img(src="img/sec4-icon2.png", alt="").sec4__list-img.mb1
                    p.mb0.
                        Бизнес-и маркетинговый план
                div.sec4__list-item
                    img(src="img/sec4-icon3.png", alt="").sec4__list-img.mb1
                    p.mb0.
                        Рекламные материалы
                div.sec4__list-item
                    img(src="img/sec4-icon4.png", alt="").sec4__list-img.mb1
                    p.mb0.
                        Помощь в найме, обучении и аттестации сотрудников
                div.sec4__list-item
                    img(src="img/sec4-icon5.png", alt="").sec4__list-img.mb1
                    p.mb0.
                        Список оборудования, каталог товаров и контакты поставщиков
            div.ta-center.mb2
                button.btn-round.js-small-btn.
                    Узнать подробнее
            div.sec4__note
                p.text.text_m.medium.mb1.
                    Вы можете рассчитывать на нашу поддержку по всем вопросам
                p.text.text_m.medium.mb0.
                    Мы заинтересованы в развитии бренда и поможем вам выйти на запланированные показатели!
                img(src="img/sec4-img.png", alt="").sec4__note-img
    div.sec4__bottom
        img(src="img/sec2-decor.png", alt="").sec2__bottom-decor.sec2__bottom-decor_top
        img(src="img/sec2-decor.png", alt="").sec2__bottom-decor.sec2__bottom-decor_bottom
        img(src="img/sec4-img-left.png", alt="").sec4__bottom-img.sec4__bottom-img_left
        img(src="img/sec4-img-right.png", alt="").sec4__bottom-img.sec4__bottom-img_right
        div.container
            h3.color-white.ta-center.mb1.
                Что необходимо для старта?
            div.sec4__bottom-list
                div.sec4__bottom-list-item
                    p.mb0.
                        Проверить, свободен ли ваш город для сотрудничества:
                    button.js-small-btn.sec4__bottom-list-btn.
                        Проверить
                div.sec4__bottom-list-item
                    p.mb0.
                        Приобрести франшизу за <span>100 тысяч рублей</span>
                div.sec4__bottom-list-item
                    p.mb0.
                        Запланировать <span>1,15 млн</span> инвестиций в магазин, кабинеты,товар и оборудование
            div.sec4__bottom-border
                p.mb2.
                    Скачайте таблицу с финансовыми показателями бизнеса, чтобы рассчитать период окупаемости для вашего города
                button.btn-round.btn-round_white.js-small-btn.sec4__bottom-border-btn.
                    Скачать
                img(src="img/sec4-note.png", alt="").sec4__bottom-border-img