section.sec.sec5
    div.container.ta-center
        h3.
            Мы проверили нашу бизнес модель трижды
        p.text.text_m.bold.mb2.
            – все три филиала вышли на плановый оборот <span class="border">800 000 р./мес</span>
        p.tt-uppercase.mb0.
            Готовы открыть зооцентр «Котолапофф» 
        p.mb2.
            в вашем городе и заработать <span class="border">1,2 млн рублей</span> прибыли уже в первый год?
        include bottom-form